<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="idv.chatea.transitiondemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BasicSceneActivity"
            android:label="Scene Demo" />
        <activity
            android:name=".CrossTransitionActivity"
            android:label="Cross Activity Transition" />
        <activity
            android:name=".ImageActivity"
            android:label="Image" />
        <activity
            android:name=".TransitionManagerActivity"
            android:label="Transition Manager" />
        <activity android:name=".CustomizedTransitionActivity" />
        <activity
            android:name=".LiveDemoActivity"
            android:label="@string/title_activity_live_demo" />
        <activity android:name=".LiveDemoDetailActivity" />
    </application>

</manifest>